:root {
  --max-width-container: 1200px;
  --text-color: #000000;
  --column-left-background:#ffffff;
  --column-right-background:#ffffff;
  --border-color: #e6e6e6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  line-height: 1.6;
}

a {
  color: inherit;
}

.container {
  max-width: var(--max-width-container);
  position: relative;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: var(--white);
  z-index: 1000;

  img {
    max-width: 50px;
  }
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  color: #000000;
  position: fixed;
  top: 10px;
  right: 30px;
  z-index: 1000;

  .close {
    display: none;
  }
}

.column-left {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  transition: left 0.5s ease;
  z-index: 500;
  background-color: var(--column-left-background);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  
  img {
    display: none;
  }
}

@media (min-width: 450px) {
  .column-left {
    width: 60%;
  }
}

.column-right .name {
  display: none;
}

@media (min-width: 768px) {

  .column-left {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
    transition: none;

    img {
      display: flex
    }
  }

  .column-right {
    width: calc(100% - 300px);
    margin-left: 300px;
    background-color: var(--column-right-background);
    
    .name {
      display: block;
    }
  }
  
  header, button {
    display: none;
  }
}

@media (min-width: 768px) and (min-height: 800px) {
  .column-left {
    position: sticky;
    height: 100vh;
  }
  .column-right {
    margin-left: 0px;
  }
}

.open {
  left: 0;
}